@font-face {
    font-family: 'Akzidenz-Grotesk-Bold';
    src: url('fonts/Akzidenz-Grotesk-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk-Light';
    src: url('fonts/Akzidenz-Grotesk-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk-Regular';
    src: url('fonts/Akzidenz-Grotesk-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Akzidenz-Grotesk-Light', sans-serif;
    background-color: rgb(223, 227, 230);
    color: rgb(0, 0, 0);
}

body {
    max-width: 1024px;
    margin: 0 auto;
}

header {
    margin: 100px 145px -150px 145px;
    text-align: left;
    display: flex;
    align-items: center;
}

header .logo {
    width: 200px;
    height: 200px;
}

main {
    margin: 50px 100px;
    padding: 100px 50px 50px 50px;
    background-color: rgb(227, 231, 234);
}

h1 {
    font-family: 'Akzidenz-Grotesk-Bold', sans-serif;
    font-size: 3em;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Akzidenz-Grotesk-Regular', sans-serif;
    font-size: 1.5em;
    color: rgb(229, 32, 67);
    margin-bottom: 30px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}