---
import Logo from "../components/Logo.astro"
import Hero from "../components/Hero.astro"
import Home from "../layouts/Home.astro"
---

<Home>
    <div class="-mb-24 pt-16 pr-16 pl-16">
        <Logo class="text-right" />
    </div>
    <Hero>
        <h1 class="mb-4 text-5xl font-black">
            Public tech for a better future
        </h1>

        <h2 class="mb-2 text-secondary text-2xl font-bold">
            Building the present of European digital public infrastructure
        </h2>

        <p class="text-primary text-lg font-normal">
            <b>
                We enable governments & companies to generate AI solutions by
                ensuring compliance with EU rules & guidelines.
            </b>

            Providing an edge in the global AI market by positioning compliance
            as part of your value proposition.

            Consolidating the EU’s humanist approach to AI by enabling
            compliance by principle and design - rather than an expensive
            afterthought.
        </p>
    </Hero>
</Home>