---
import Head from "./Head.astro"
---

<html lang="en" class="bg-neutral text-primary">
<head>
    <Head />
</head>

<body class="min-h-screen grid place-items-center">
    <main class="max-w-4xl text-left m-10">
        <slot />
    </main>
</body>
</html>